<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Suite" verbose="1" parallel="tests" thread-count="4">
    <test name="Login Tests">
        <classes>
            <class name="tests.login.LoginTest"/>
        </classes>
    </test>
    <test name="Home Tests">
        <classes>
            <class name="tests.home.HomeTest"/>
        </classes>
    </test>
    <test name="Cart Tests">
        <classes>
            <class name="tests.cart.CartTest"/>
        </classes>
    </test>
    <test name="Cards Tests">
        <classes>
            <class name="tests.cards.CardsTest"/>
        </classes>
    </test>
</suite>
